.links a{
text-decoration: none;
font-size: large;
text-transform: capitalize;
font-weight: normal;
color: whitesmoke;

}
.links{
    padding-left: 80px;
}
.icon {
    
    padding-left: 100px;
}
.header h3{
    height: 80px;
    
    background-color: rgb(241, 241, 241);
    padding-left: 10px;
    padding-top: 25px;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}


